[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
grpcio-tools = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-timeout = "*"

[packages]
grpcio = "*"


[requires]
python_version = "3.8"
